.App {
  
}

.Header {
  min-height: 75px;
  background-color: #648de0;
  display: flex;
  justify-content: left;
}

.Title {
  display: flex;
  align-items: center;
  margin: 25px;
  font-size: x-large;
}

.Page-links {
  display: flex;
  align-items: center;
}

.Link {
  margin: 15px;
  font-size: large;
}

.Upcoming {
  min-height: 325px;
  background-color: #ec827c;
}

.Current-record {
  min-height: 260px;
  background-color: #6addd1;
  position: relative;
}

.Record-bg {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.Record {
  background-color: rgb(100, 141, 224, 0.5);
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 45%;
  
}

.Upcoming-games {
  min-height: 65px;
  background-color: #d4e1fa;
}

.Game-Container {
  display: flex;
  overflow: auto;
  white-space: nowrap;
  scrollbar-color: #eaf1fe #c8d9fa;
  scrollbar-width: thin;
}

.Game-Info {
  border-right: solid #cccbcb 2px;
}

.Single-Game {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.Score-Container {
  display: flex;
}

.Abbrev-Container {
  display: flex;
  align-items: center;
}

.Game {
  margin: 5px;
}

.Logos {
  width: 50px;
}

.Main-body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  min-height: 1000px;
  background-color: #fff8f0;
}

.Statistics {
  margin: 50px;
}

.Player-highlight {
  min-height: 365px;
  background-color: #ffefda;
}

.Player {
  text-align: center;
}

.Player-name {
  margin: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ffe2bc;
  border-radius: 15px;
}

th[scope='col'] {
  padding: 15px;
  padding-bottom: 2px;
}


.Player-image {
  width: 200px;
}

.Quick-stats {
  min-height: 250px;
  background-color: #ffe2bc;
}

.Blog-preview {
  padding: 15px;
  margin: 50px;
  background-color: #ffefda;
}

.Blog-article {
  padding: 15px;
  background-color: #ffe2bc;
  margin-bottom: 50px;
}

.Blog-title {
  font-weight: 700;
  font-size: 25px;
}

.Blog-info {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.External {
  margin: 50px;
}

.Articles {
  min-height: 250px;
  background-color: #ffe2bc;
  display: flex;
  flex-direction: column;
}

.E-links {
  min-height: 300px;
  background-color: #ffefda;
  
}

.NYR-links {
  display: flex;
  flex-direction: column;
}

.Updates-links {
  display: flex;
  flex-direction: column;
}

.Personalities-links {
  display: flex;
  flex-direction: column;
}

footer {
  font-size: 12px;
  text-align: center;
  background-color: #ffefda;
}

