.Blog-page {
    display: grid;
    grid-template-columns: 3fr 1fr;
    min-height: 1000px;
}

.Blogs {
    padding: 25px;
}

.Blog-page {
    padding: 25px;
}

.Sidebar {
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #fcf6ee;
}


.Recent-blogs {
    min-height: 400px;
    background-color: #fcf6ee;
}

.Blog-header {
    margin-bottom: 20px;
}

.Blog-small {
    padding: 5px;
}

.Blog-small-title {
    font-weight: 700;
    font-size: 20px;
}

.Blog-small-subtitle {
    font-size: 15px;
}

.History {
    min-height: 600px;
    background-color: #fcf6ee;
}